name: Java build

on:
  workflow_call:
    inputs:
      java_version:
        required: false
        type: string
        default: '17'
      
      java_distribution:
        required: false
        type: string
        default: 'corretto'
      
      skip_tests:
        required: false
        type: boolean
        default: false

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read

    steps:
     - uses: actions/checkout@v4
     
     - uses: actions/setup-java@v4
       with:
         java-version: ${{ inputs.java_version }}
         distribution: ${{ inputs.java_distribution }}

     - uses: gradle/actions/setup-gradle@v3

     - name: Build with Gradle
       shell: bash
       run: ./gradlew build
       env:
         USERNAME: ${{ github.actor }}
         TOKEN: ${{ github.token }}